.fa-arrow-left {
    font-size: 15px;
    color: #ee4d2d;
}

@media only screen and (max-width: 1025px) {
    .header {
        background-image: none !important;
        background-color: white;
    }

    .app__container {
        margin-top: 15% !important;
    }
}

.cart_item {
    background-color: white;
}

.line {
    height: 10px;
}

.favorite {
    color: white;
    background-color: #ee4d2d;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 5px;
}

.status_transport {
    color: #ee4d2d;
    font-size: 13px;
}

.title_cart {
    font-size: 13px;
    margin-left: 5px;
}

.row1 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.undecoration {
    text-decoration: none;
    color: black;
}

.amount {
    color: #737373;
    font-size: 12px;
}

.total_title {
    font-size: 13px;
}

.price {
    color: #ee4d2d;
    font-size: 13px;
}

.total {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.status {
    font-size: 13px;
    color: #00bfa5;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.btn-cancel {
    color: white;
    border: none;
    background-color: #ee4d2d;
    font-size: 13px;
    border-radius: 2px;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.btn-cancel a {
    text-decoration: none;
    color: white;
}

.accept {
    font-size: 13px;
}

.button-axept {
    font-size: 13px !important;
    border: none !important;
}

.btn-sucssested {
    background-color: #ee4d2d !important;
    color: white;
}

.btn-sucssested a {
    color: white !important;
    text-decoration: none;
}

.modal-header {
    border: none !important;
}

.modal-footer {
    border: none !important;
}

.btn-cancel {
    background-color: #ee4d2d !important;
}