.footer_menu {
    font-size: 13px;
    color: #939393;
    width: 50%;
}

.footer__content {
    display: flex !important;
}

.last {
    text-align: right;
}

.logo_bo_ct {
    display: flex;
    padding: 10px 30px;
    gap: 20%;
}

.infor_footer {
    color: #939393;
    font-size: 12px;
    text-align: center;
}